<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/vendors/bootstrap/dist/css/bootstrap.css'/>
</head>

<body>
<div class = 'container'>
<ul style = 'margin-bottom: 10px' class = 'nav nav-tabs'>
  <li {% if nav == 'home' %} class='active' {% endif %} ><a href='/'>Home</a></li>
  <li {% if nav == 'cats' %} class='active' {% endif %} ><a href='/categories'>Categories ({% if (numCats) %}{{ numCats }}{% else %}0{% endif %})</a></li>
</ul>
<div class = 'row'>
  <div class = 'col-sm-6'>
  {% block content %}

  {% endblock %}
  </div>

<div class = 'col-sm-6'>
  <h3>Data:</h3>
  <pre>
  {{ catsPre }}
  </pre>
</div>
</div>

</div>
</body>
</html>
